
@import url('owl.carousel.min.css');
@import url('owl.theme.default.min.css');
@import url('owl.theme.default.css');

* {
    box-sizing: border-box;
}

/* navigation layout */
#search {
    width: 600px;
    background-color: transparent;
    border: 0;
}

#bansearch {
    width: 800px;
    background-color: transparent;
    border: 0;
}

#banbase {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#submit {
    width: 150px;
    height: 32px;
    padding: 5px;
}

#topnav {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

#subnav {
}

#mglass {
    border: 0;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
}

#pcscan {
    border: 0;
    padding-right: 5px;
    background-color: transparent;
    cursor: pointer;
}

#banner {
    /* color: white; */
    text-align: justify;
    /* background: rebeccapurple url('images/bg.jpg') no-repeat; */
    width: 100%;
    height: 500px;
    margin: auto;
}

.logo {
    width: 32px;
    height: 32px;
}

.nav {
    /* position: fixed; */
    /* top: 0; /*need to clear the banner section from overflowing*/
}

.query {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: transparent;
    padding: 5px 10px;
    height: 40px;
    width: 50%;
}

.square {
    border-radius: 5px;
    height: 60px;
    width: 60%;
    margin: auto;
    align-items: center;

}

img {
    width: 32px;
    height: 32px;
}

ul, li {
    list-style-type: none;
    display: inline-block;
    overflow: hidden;
    margin-right: 10px;
}

input:focus {
    outline: none;
}

a:link {
    text-decoration: none;
}